@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500;700&display=swap");
$colorgold: #c9aa82;
$tablet: 1024px;
$mobile: 767px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans TC", sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

header,
section,
footer {
    display: block;
    width: 100%;
}

// banner

#banner_bg {
    background-image: url(/image/h-banner.JPG);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    #banner_text {
        width: 100%;
        text-align: center;

        #banner_title {
            font-size: 2.5rem;
            letter-spacing: 5px;
            padding-left: 5px;
            margin-bottom: 15px;
        }

        #banner_content {
            font-size: 1.2rem;
            letter-spacing: 3px;
            padding-left: 3px;
        }
    }
}

// nav
.bg-light {
    background-color: $colorgold !important;
}

.logo {
    height: 60px;
    padding: 10px;
}

.navbar-brand {
    letter-spacing: 1px;
}

.nav-link {
    color: #fff !important;
    letter-spacing: 1px;
    margin-left: 15px;
    transition: 0.3s;

    &:hover {
        transform: scale(1.1);
    }
}

// scrollTop
.top-btn {
    fill: $colorgold;
    position: fixed;
    right: 2rem;
    bottom: 3.5rem;
    border: none;
    background-color: transparent;
    outline: none;
    display: none;
    transition: 0.5s;
    z-index: 99;

    &:hover {
        fill-opacity: 0.8;
    }
}

// indexArea

// about {
#about_content {
    letter-spacing: 1px;
    padding-left: 1px;
}

// case

#case_content {
    a {
        text-decoration: none;
    }

    .case-subtitle {
        letter-spacing: 2px;
        padding-left: 2px;
        font-size: 1rem;
        color: #333;
    }
}

// service

#service_content {
    ul {
        @media screen and (max-width: $mobile) {
            list-style: none;
        }
    }
}

#footer {
    background-color: $colorgold;
    padding: 20px;
    font-size: 14px;
    letter-spacing: 1px;
    padding-left: 1px;

    .f-icon {
        text-decoration: none;
        &:hover svg {
            fill-opacity: 0.8;
        }

        svg {
            fill: #fff;
        }
    }
}

// 相同樣式

// 首頁標題
.h-title {
    font-size: 1.5rem;
    color: $colorgold;
    letter-spacing: 2px;
    padding-left: 2px;
    font-weight: 700;
}

// 按鈕
.btn {
    border: 1px solid $colorgold;
    padding: 10px 30px;
    border-radius: 0;
    color: $colorgold;
    transition: 0.2s 0.1s;
    background-color: transparent;

    span {
        letter-spacing: 2px;
        padding-left: 2px;
    }

    &:hover {
        background-color: $colorgold;
    }

    &:hover span {
        color: #fff;
        transition: 0.2s 0.1s;
    }

    span {
        color: $colorgold;
        transition: 0.2s;
    }
}

// service_page

.service-banner {
    height: 300px;
    background-image: url(/image/service-banner.jpg);
    background-position: center;
    background-size: cover;
}

.page-title {
    color: $colorgold;
    font-size: 2rem;
    letter-spacing: 3px;
    padding-left: 3px;
    font-weight: 700;
}

.page-subtitle {
    color: #333;
    letter-spacing: 1.5px;
    padding-left: 1.5px;
}

// 服務項目
.s-i-card {
    background-color: #e9e9e9;
    color: #333;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: max-content;
    box-sizing: border-box;

    .s-i-text {
        width: 50%;
        padding: 10px 20px;
        position: absolute;
        left: 0;
        box-sizing: border-box;

        h2,
        p {
            width: 100%;
            padding: 5px;
            text-align-last: left;
        }

        h2 {
            font-size: 1.5rem;
            font-weight: 700;
            color: #333;
            letter-spacing: 2px;
        }

        p {
            font-size: 1rem;
            font-weight: 500;
            color: #555;
        }
    }

    .s-i-img {
        width: 50%;
        transition: all 0.35s ease-in-out;
        transform: scale(1.5);
        position: relative;
        float: right;
        right: -15%;
        z-index: 1;

        &:hover {
            right: -10%;
        }

        img {
            border-radius: 50%;
            border: 4px solid #fff;
            width: 380px;
            height: 380px;
            object-fit: cover;
        }
    }
}

// 服務流程

#service_process {
    ul {
        list-style-type: decimal-leading-zero;
    }

    ul :nth-last-child(1) {
        list-style: none;
    }

    li {
        position: relative;
        width: 5px;
        background-color: rgb(185, 185, 185);
        margin: 0 auto;
        padding-top: 50px;

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background: $colorgold;
            z-index: 1;
        }

        .s-p-icon {
            position: relative;
            svg {
                fill: #fff;
            }
        }

        .s-p-text {
            position: relative;
            bottom: 0;
            width: 300px;
            padding: 15px;

            &::before {
                content: "";
                position: absolute;
                bottom: 7px;
                width: 0;
                height: 0;
            }
        }
    }

    li :nth-child(odd) .s-p-text {
        left: 45px;
    }
}

// portfolio_page

.portfolio-banner {
    height: 300px;
    background-image: url(/image/portfolio-banner.jpg);
    background-position: center;
    background-size: center;
}

// Q&A_page

.qa-banner {
    height: 300px;
    background-image: url(/image/qa-banner.jpg);
    background-position: center;
    background-size: center;
}

#qa_area {
    

    .panel {
        margin: 10px auto;

        .panel-heading {
            border: 1px solid $colorgold;
            padding: 15px 20px;
    
            .panel-title {
                letter-spacing: 2.5px;
        
                a {
                    text-decoration: none;
                    color: #333;
                    display: block;
                }

                

                a::before {
                    content: url(/image/arrow_top.png);
                    float: right;
                    transition: all 0.5s;
                    
                }
                
            }
             
        }

        .panel-heading.active a::before {
            transform: rotate(180deg);
            
        } 

        .panel-body {
            border: 1px solid $colorgold;
            background-color: $colorgold;
            color: #fff;
            padding: 15px 20px;
            letter-spacing: 1.5px;
            font-weight: 500;

            p {
                margin-bottom: 0;
            }

            .nub-style {
                list-style-type: decimal;
                padding-left: 25px;

                li {
                    margin: 5px 0;
                }
            }

            .dot-style {
                padding-left: 25px;
                
                li {
                    margin: 5px 0;
                }
            }
        }
    }
    
    
}

// contact_page

.contact-banner {
    height: 300px;
    background-image: url(/image/contact-banner.jpg);
    background-position: center;
    background-size: center;
}


.contact-info-list {
    padding: 10px;

    .contact-info-icon {
        display: inline-block;
        margin-right: 15px;

        svg {
            fill: $colorgold;
        }
    }

    .contact-info-text {
        display: inline-block;
        letter-spacing: 1.5px;
        font-weight: 500;
        color: #555;
        
        a {
            text-decoration: none;
            color: #555;
            
        }
    }
}